html,
body {
  text-align: center;
  font-family: "monospace";
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact a {
  font-size: x-large;
  margin: 0 5px;
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: center;
}

.links ul {
  display: inline-block;
  text-align: left;
  padding: 0;
}

.links li {
  margin: 10px;
  text-decoration: none;
}

.links a {
  text-decoration: none;
}

.fa-envelope {
  color: #e73f30;
}

.fa-github {
  color: #1a1e22;
}

.fa-linkedin {
  color: #0077af;
}

.enamad img {
  width: 50px;
  opacity: 5%;
}